{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bookit/view/export_events_modal

    Export-events selection modal used by the Bookit calendar view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    IDs required for JS (used by mod_bookit/export_modal AMD module):
    * bookit-export-modal
    * bookit-modal-search
    * bookit-export-start
    * bookit-export-end
    * bookit-export-reset-range
    * bookit-check-all
    * bookit-uncheck-all
    * bookit-export-list
    * bookit-export-confirm

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="modal fade" id="bookit-export-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}exportevents, mod_bookit{{/str}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="mb-3 d-flex gap-2 align-items-center flex-wrap">
                    <label for="bookit-modal-search" class="mb-0">
                        {{#str}}search, core{{/str}}:
                    </label>
                    <input type="text" id="bookit-modal-search" class="form-control w-auto d-inline">
                </div>

                <div class="mb-3 d-flex gap-2 align-items-center flex-wrap">
                    <label for="bookit-export-start" class="mb-0">From:</label>
                    <input type="date" id="bookit-export-start" class="form-control w-auto d-inline">

                    <label for="bookit-export-end" class="mb-0">To:</label>
                    <input type="date" id="bookit-export-end" class="form-control w-auto d-inline">

                    <button type="button" class="btn btn-sm btn-light" id="bookit-export-reset-range">
                        Reset
                    </button>
                </div>

                <div class="mb-2">
                    <button type="button" class="btn btn-sm btn-light mr-1" id="bookit-check-all">
                        {{#str}}selectall, core{{/str}}
                    </button>
                    <button type="button" class="btn btn-sm btn-light" id="bookit-uncheck-all">
                        {{#str}}deselectall, core{{/str}}
                    </button>
                </div>

                <div id="bookit-export-list" class="list-group small"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{#str}}cancel, core{{/str}}
                </button>
                <button type="button" class="btn btn-primary" id="bookit-export-confirm">
                    {{#str}}export, mod_bookit{{/str}}
                </button>
            </div>
        </div>
    </div>
</div>
