{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist category template with a bootstrap table row
}}
<tr class="table-active bookit-category"
    id="bookit-master-checklist-category-row-{{id}}"
    data-bookit-category-id="{{id}}"
    data-bookit-category-name="{{name}}"
    data-bookit-category-order="{{order}}"
    data-bookit-drag-handle-category-id="{{id}}">
                <td>{{name}}</td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn" value="{{id}}" name="edit-checklistcategory-{{id}}" id="edit-checklistcategory-{{id}}">
                        {{#pix}} i/edit, core {{/pix}}
                    </button>
                </td>

                {{> mod_bookit/bookit_checklist_drag_handle }}
</tr>
