{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist item template with a bootstrap table row
}}
<tr id="bookit-master-checklist-item-{{id}}" class="table-default bookit-checklistitem"
    data-bookit-checklistitem-id="{{id}}"
    data-bookit-checklistitem-title="{{title}}"
    data-bookit-checklistitem-order="{{order}}"
    data-bookit-checklistitem-categoryid="{{categoryid}}"
    data-bookit-checklistitem-room="{{roomid}}"
    data-bookit-checklistitem-roomname="{{roomname}}"
    data-bookit-checklistitem-role="{{roleid}}"
    data-bookit-checklistitem-rolename="{{rolename}}"
    data-bookit-drag-handle-item-id="{{id}}"
    data-bookit-drag-handle-parent-id="{{categoryid}}">
                <td data-bookit-checklistitem-tabledata-title-id="{{id}}">{{title}}</td>
                <td data-bookit-checklistitem-tabledata-roomid-id="{{id}}">{{roomname}}</td>
                <td data-bookit-checklistitem-tabledata-roleid-id="{{id}}">{{rolename}}</td>
                <td>
                    <button type="button" class="btn" value="{{id}}" name="edit-checklistitem-{{id}}" id="edit-checklistitem-{{id}}">
                        {{#pix}} i/edit, core {{/pix}}
                    </button>
                </td>
                {{> mod_bookit/bookit_checklist_drag_handle }}
</tr>
{{#js}}
require(['mod_bookit/master_checklist_item'], function(component) {
    component.init('#bookit-master-checklist-item-{{id}}');
});
{{/js}}
