{{!
    This file is part of the mod_bookit plugin for Moodle - http://moodle.org/

    Checklist category template with a bootstrap table row
}}
<tbody id="bookit-master-checklist-tbody-category-{{id}}"
       data-bookit-tbody-category-id="{{id}}"
       data-bookit-category-name="{{name}}"
       data-bookit-category-id="{{id}}"
       data-bookit-category-masterid="{{masterid}}">
{{> mod_bookit/bookit_checklist_category_row }}
{{#checklistitems}}
    {{> mod_bookit/bookit_checklist_item }}
{{/checklistitems}}
</tbody>
{{#js}}
require(['mod_bookit/master_checklist_category'], function(component) {
    component.init('#bookit-master-checklist-tbody-category-{{id}}');
});
{{/js}}