{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bookit/bookit_notification_slot
    This template renders a notification slot for the bookit module.

    Example context (json):
    {
        "typename": "Reminder",
        "type": "reminder",
        "roleids": "1,2",
        "duedaysoffset": 3,
        "duedaysrelation": "before",
        "isactive": true,
        "messagetext": "This is a reminder message",
        "usermodified": 123,
        "timecreated": 1609459200,
        "timemodified": 1609545600
    }
}}
<div class="form-group">
    <p>Notification Slot</p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="foo">
        <label class="form-check-label" for="exampleCheck1">{{typename}}</label>
    </div>
    <p>Type: {{#type}}{{type}}{{/type}}{{^type}}N/A{{/type}}</p>
    <p>Role IDs: {{#roleids}}{{roleids}}{{/roleids}}{{^roleids}}N/A{{/roleids}}</p>
    <p>Due Days Offset: {{#duedaysoffset}}{{duedaysoffset}}{{/duedaysoffset}}{{^duedaysoffset}}N/A{{/duedaysoffset}}</p>
    <p>Due Days Relation: {{#duedaysrelation}}{{duedaysrelation}}{{/duedaysrelation}}{{^duedaysrelation}}N/A{{/duedaysrelation}}</p>
    <p>Is Active: {{#isactive}}{{isactive}}{{/isactive}}{{^isactive}}N/A{{/isactive}}</p>
    <p>Message Text: {{#messagetext}}{{messagetext}}{{/messagetext}}{{^messagetext}}N/A{{/messagetext}}</p>
    <p>User Modified: {{#usermodified}}{{usermodified}}{{/usermodified}}{{^usermodified}}N/A{{/usermodified}}</p>
    <p>Time Created: {{#timecreated}}{{timecreated}}{{/timecreated}}{{^timecreated}}N/A{{/timecreated}}</p>
    <p>Time Modified: {{#timemodified}}{{timemodified}}{{/timemodified}}{{^timemodified}}N/A{{/timemodified}}</p>
</div>
